body {
    margin: 0%;
    padding: 0%;
}

.container {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top right, #7bc393, #31b7c2);
    padding-top: 100px;
}

.inside_container {
    width: 800px;
    height: 3170px;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 30px;
    text-align: center;
    box-shadow: 1px 3px 10px rgb(103, 99, 99);
}

.nav {
    display: flex;
    margin-top: -95px;
    background-color: transparent;
    border-radius: 15px;
    height: 30px;
    padding: 20px;
    padding-top: 30px;
    margin-bottom: 40px;
    box-shadow: 3px 3px 10px rgb(69, 69, 69);
}

.nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.navcon {
    margin-left: 30px;
    font-size: large;
}

.inside_container h1,
h3 {
    text-align: center;
    text-decoration: underline;
}

img {
    width: 750px;
    height: 400px;
    border-radius: 20px;
    box-shadow: 1px 3px 10px rgb(103, 99, 99);
}

.para {
    width: 730px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 17px;
    text-align: justify;
}

.button {
    border: 1px solid black;
    background-color: #31b7c2;
    color: white;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    text-align: center;
    padding-top: 12px;
    margin: auto;
    margin-top: 15px;
}

.midbutton {
    border: 1px solid black;
    background-color: #31b7c2;
    color: white;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    text-align: center;
    padding-top: 12px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.button:hover,
.midbutton:hover {
    background-color: #42a1a9;
}

.mainfoot {
    height: 400px;
    display: flex;
    font-size: large;
}

.foot {
    width: 300px;
    margin: 40px auto;
}

.nav a:hover {
    color: aqua;
}